* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Space Mono', monospace;
	color: blue;
	font-size: 20px;
	font-weight: normal;
}

/* this is a comment */

a { color: blue; }

#container {
	padding: 20px;
}

#exercises, #projects {
	margin: 40px 0px;
}

h1, h2, h3 {
	font-size: 20px;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

