* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
	color: red;
}

p {
	font-size: 30px;
	line-height: 45px;
}

h1 {
	font-size: 18px;
	margin: 20px;
}

img {
	max-width: 50%;
	height: auto;
}

#desktop {
	width: 500px;
	padding: 40px;
	border: 1px solid red;
	float: right;
}


#phone {
	width: 500px;
	padding: 40px;	
	border: 1px solid blue;
	float: right;
}

.sender {
	text-align: left;
}

.receiver {
	text-align: right;
}